{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block header_navigation_links %}
    <li>
        <a href="{{ path('frontend_homepage') }}">
            Homepage
        </a>
    </li>
{% endblock %}

